{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
<div class="alert alert-info alert-dismissible" role="alert"> {{message}}
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button> </div>
{% endfor %} {% endif %} {% endwith %}


<div class="jumbotron" style="font-family: Helvetica, Arial, sans-serif;">
	{% for error in form.employee_id.errors %}
   			 <div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				 		{{error}}
			 </div>
 		 {% endfor %}
	<h1 >Provide employee details</h1>
	<br>
	<form  method="POST" style="font-family: Helvetica, Arial, sans-serif;">
		{{form.hidden_tag()}}
		<table>
		<tbody>
			<tr>
				<td style="padding:2px 5px 0px 25px;" ><h5>{{form.employee_id.label}}</h5></td>
				<td ><h5>{{form.employee_id()}}</h5></td>
				<td style="padding:2px 5px 0px 50px" ><h5>{{form.employee_first_name.label}}</h5></td>
				<td ><h5>{{form.employee_first_name()}}</h5></td>
			</tr>
			<tr>
				<td style="padding:2px 5px 0px 25px" ><h5>{{form.employee_last_name.label}}</h5></td>
				<td ><h5>{{form.employee_last_name()}}</h5></td>
				<td style="padding:2px 5px 0px 50px" ><h5>{{form.employee_hacker_rank_id.label}}</h5></td>
				<td ><h5>{{form.employee_hacker_rank_id()}}</h5></td>
			</tr>
			<tr>
				<td colspan="2" style="padding-left:235px;"><br>{{form.submit()}}</td>
				
			</tr>
			
		</tbody>
	</table>
	</form>

</div>
{% endblock %}