{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
	<h1 class="display-4">List of all the Employees</h1>
	{% for em in emp %}
	<br>
	<br>
	<table >
		<thead>
			<tr><h2>{{em.e_name}}</h2></tr>
		</thead>
		<tbody>
			<tr >
				<td style="padding:0 40px" ><h5>Employee No: {{em.e_num}}</h5></td>
				<td style="padding:0 40px"><h5>Project: {{em.project}}</h5></td>
				<td><h5>HackerRank userId: {{em.hr_userid}}</h5></td>
			</tr>
			<tr>
				<td style="padding:0 40px"><h5>Certifications: {{em.cert}}</h5></td>
				<td style="padding:0 40px"><h5>Skills: {{em.skill}}</h5></td>
				<td><h5>Badges: {{em.badges}}</h5></td>
			</tr>
			<tr>
				<td style="padding:0 40px"><h5>No of stars: {{em.n_stars}}</h5></td>
				<td style="padding:0 40px"><h5>Contest/Practice: {{em.c_p}}</h5></td>
			</tr>
		</tbody>
	</table>
	{% endfor %}

</div>

{% endblock %}