<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

	<table class="tblCustomers table-bordered table-striped">
		<tbody>
			<tr >
				<th style="width: 150px;text-align: center;">Employee ID</th>
				<th style="width: 150px;text-align: center;">Employee Name</th>
				<th style="width: 150px;text-align: center;">Hacker Rank ID</th>
				<th style="width: 150px;text-align: center;">Project Name</th>
			</tr>
			{% for e in empprodict %}
			<tr >

				<td style="width: 150px;text-align: center;">{{e['e no']}}</td>
				<td style="width: 150px;text-align: center;">{{e['e name']}}</td>
				<td style="width: 150px;text-align: center;">{{e['hack id']}}</td>
				<td style="width: 150px;text-align: center;">{{e['p name']}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>