{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
	<h1 style="font-family: 'Rowdies', cursive;">Employee Updation</h1>
		<form  method="POST" style="font-family: 'Mukta', sans-serif;">
		{{form.hidden_tag()}}
		<table>
		<tbody>
			<tr>
				<td style="padding:2px 5px 0px 25px;" ><h5>{{form.name.label}}</h5></td>
				<td ><h5>{{form.name(value=em.e_name)}}</h5></td>
				<td style="padding:2px 5px 0px 50px" ><h5>{{form.em_no.label}}</h5></td>
				<td ><h5>{{form.em_no(value=em.e_num)}}</h5></td>
			</tr>
			<tr>
				<td style="padding:2px 5px 0px 25px" ><h5>{{form.project.label}}</h5></td>
				<td ><h5>{{form.project(value=em.project)}}</h5></td>
				<td style="padding:2px 5px 0px 50px" ><h5>{{form.hackrankid.label}}</h5></td>
				<td ><h5>{{form.hackrankid(value=em.hr_userid)}}</h5></td>
			</tr>
			<tr>
				<td style="padding:2px 5px 0px 25px" ><h5>{{form.cert.label}}</h5></td>
				<td ><h5>{{form.cert(value=em.cert)}}</h5></td>
				<td style="padding:2px 5px 0px 50px" ><h5>{{form.skill.label}}</h5></td>
				<td ><h5>{{form.skill(value=em.skill)}}</h5></td>
			</tr>
			<tr>
				<td style="padding:2px 5px 0px 25px" ><h5>{{form.badge.label}}</h5></td>
				<td ><h5>{{form.badge(value=em.badges)}}</h5></td>
				<td style="padding:2px 5px 0px 50px" ><h5>{{form.n_s.label}}</h5></td>
				<td ><h5>{{form.n_s(value=em.n_stars)}}</h5></td>
			</tr>
			<tr>
				<td style="padding:2px 5px 0px 25px" ><h5>{{form.c_s.label}}</h5></td>
				<td ><h5>{{form.c_s(value=em.c_p)}}</h5></td>
				<td colspan="2" style="padding-left:235px;">{{form.submit()}}</td>
				
			</tr>
			
		</tbody>
	</table>
	</form>


</div>

{% endblock %}