{% extends "base.html" %}
{% block content %}
<div class="jumbotron" style="font-family: Helvetica, Arial, sans-serif;">
	<h1 >Update Project details</h1>
	<br>
	<form  method="POST" style="font-family: Helvetica, Arial, sans-serif;">
		{{form.hidden_tag()}}
		<table>
		<tbody>
			<tr>
				<td style="padding:2px 5px 0px 25px;" ><h5>{{form.project_id.label}}</h5></td>
				<td ><h5>{{form.project_id(value=rec.project_id)}}</h5></td>
				<td style="padding:2px 5px 0px 50px" ><h5>{{form.project_name.label}}</h5></td>
				<td ><h5>{{form.project_name(value=rec.project_name)}}</h5></td>
			</tr>
			<tr>
				<td style="padding:2px 5px 0px 25px" ><h5>{{form.project_start_date.label}}</h5></td>
				<td ><h5>{{form.project_start_date(value=rec.project_start_date)}}</h5></td>
				<td style="padding:2px 5px 0px 50px" ><h5>{{form.project_end_date.label}}</h5></td>
				<td ><h5>{{form.project_end_date(value=rec.project_end_date)}}</h5></td>
			</tr>
			<tr>
				<td colspan="2" style="padding-left:235px;"><br>{{form.submit()}}</td>

			</tr>

		</tbody>
	</table>
	</form>

</div>
{% endblock %}